#auth-page{
    background-image: url('https://media.giphy.com/media/xT8qBe6CcgWfVfHQZO/source.gif');
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: auto;
}

h5, .text{
    text-align: center;
}

.header-text{
    padding-top: 15px;
    padding-left: 25px;
    font-size: 28px;
    font-weight: 650;
}

.content-text{
    height: 80px;
    width: 250px;
    margin-left: 73%;
    padding-top: 50px;
    color: black;
}

.footer-text{
    text-align: center;
    color: black;
}

