.outfit-page{
    margin-left: 35px;
    margin-top: 10px;
}

.outfit-side{
    width: 60%;
}

.cmt-side{
    width: 40%;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgba(241, 240, 240, 0.678);

}

.render-cmts{
    max-height: 80vh;
    overflow-y: scroll;
}

.center-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 35px;
}

.outfit-page-card{
    height: 310px;
    width: 700px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.767);
    padding-top: 25px;
    text-align: center;
}

.outfit-index-img{
    height: 250px;
    width: 200px;
}

.outfit-index-img:hover{
    background-color: rgba(255, 255, 255, 0.338);
    transform:scale(1.025);
    filter:blur(0px);
    opacity:5;
    box-shadow:0 8px 20px 0px rgba(0, 4, 11, 0.577);
    cursor:pointer;
}

.outfit-page-name{
    display: flex;
    justify-content: left; 
}

.edit-btn{
    margin-left: 8px;
}

.update-input{
    width: 200px;
    font-weight: 500;
    font-size: 24px;
}

.update-input[type=text] {
    border: none;
    border-bottom: 1px solid rgb(41, 42, 46);
    background-color: rgba(248, 247, 247, 0.781);
}

.update-input[type=text]:focus {
    outline: none;
}

.comments{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 95%;
    padding-right: 15px;
    padding-top: 15px;

}

.cmt-input[type=text] {
    border: none;
    border-bottom: 1px solid rgb(41, 42, 46);
    background-color: rgba(245, 243, 243, 0.678);
}

.cmt-input[type=text]:focus {
    outline: none;
}

.comment-img{
    height: 50px;
    width: auto;
    border-radius: 50%;
}

.cmt-text{
    margin-left: 10px;
}

.cmt-created{
    margin-left: 10px;
    font-size: small;
}

span{
    margin-left: 10px;

}